$block-padding: 10px;
$header-color: #5a5eff;
$header-height: 250px;
$logo-text: #fff;
$text-color: rgb(85, 85, 85);
$time-line-left-width: 150px;
$time-line-middle-width: 20px;
$time-line-top-margin: 10px;

$line-color: rgba(0, 0, 0, 0.25);

$site-width: 1000px;


* {
  box-sizing: border-box;
}

body {
  font-family: Questrial, Arial;
  padding: 0px;
  margin: 0px;
  color: $text-color;
}


.block {
  padding: $block-padding;
}

.wrapper {
  max-width: $site-width;
  margin: 0px auto;
}

.header {
  background-color: $header-color;

  h1.title {
    color: $logo-text;
    font-weight: 300;
  }
}


.time-line::before {
  position: absolute;
  top: 0px;
  left: calc(#{$time-line-left-width} + #{$time-line-middle-width} / 2 - 2px);
  width: 4px;
  background-color: $line-color;
  bottom: 0px;
  content: ' ';
}

.time-line {
  padding-top: $block-padding;
  position: relative;

  .item {

    clear: both;

    .time {
      float: left;
      border-radius: 2px;
      width: $time-line-left-width;
      color: $header-color;
      text-align: right;
      margin-top: $time-line-top-margin;
      padding-right: 10px;
    }

    .icon {
      position: absolute;
      width: $time-line-middle-width;
      margin-top: $time-line-top-margin;
      text-align: center;
      background-color: white;
      border-radius: 50%;
      color: $line-color;
    }

    .content {
      margin-left: calc(#{$time-line-left-width} + #{$time-line-middle-width} + #{$block-padding});
      padding: 10px 10px 10px ;
      border: 1px solid rgba(0, 0, 0, 0.05);
    }
  }

}
